
.mario{
	position: relative; 
	margin-left: 0px;
	padding-bottom: 28px;
 	bottom: 74px;
}
.switch{
	transform:rotateY(180deg);
}
.background{
	margin-top: 200px;
	position:relative;
	
}
#translation{
	margin: auto;
	width:800px;
	overflow : hidden;
}
